<template>
    <input type="text" value="hai">
</template>

<script>
    export default {
        props: ['todo'],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
